
/*CSS For Home Page*/

 body{
  margin: 0px;
	/*min-height : 50%;
	min-width : 100%;*/
	background-size:100%;
  background: url("http://www.printawallpaper.com/upload/designs/white_and_grey_triangles_detail.jpg");
	/*Automatic Zoom page to siz: For IE, opera, safari and chrome.*/
	zoom: 69%; 
	/*Only for Firefox*/
    -moz-transform: scale(0.997)
}

/*********** Bootstrap Mega-menu DropDown for Landing PAge***************/
.top-bar{background-color:black;
		 min-height:2%; /*40px*/
		 padding-top:5px;
     padding-bottom: 0px;
     /*overflow: hidden*/
}
.top-bar .nav-text {
    color: #00BCD4;
    display: block;
	margin-top: 5px;
	font-size: 20px;
}
.top-bar .social{color:#FFF;display:inline-block;padding:5px;text-decoration: none;}

.top-bar .tools{margin:0px;padding:0px;list-style-type:none;}
.top-bar .tools li{list-style-type: none;display:inline-block;}
.top-bar .tools li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-top: 5px;
}



.navbar-inverse {
    background-color: #009688;
    border-color: #080808;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid #000;;
    border-radius:0px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-left: 0%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
  

}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 11px;
  }

.form-control{
    border-color:#fff;
    border-radius:0px;
    background-color:transparent;
    font-size: 18px;
}

.btn-default-1 {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 0px;
}

/*.cart-heart a{display:inline-block;color:#fff;font-size:20px;padding:5px;}*/


/*//////////////////CROUSELE START///////////////////////////*/

.CategoryName{
  font-family:'Snowburst One';
  font-weight:bolder; 
  color:tomato; 
  font-size:35px; 
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35px;
    width: 60%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

@media screen and (min-width:768px){
    .carousel-caption h3{font-size: 35px;} 
    .carousel-caption p{font-size: 32px;} 
    .carousel-caption{padding-bottom:160px;}
}


/*//////////////////CROUSELE START///////////////////////////*/


/*/////////////FOOTER START///////////////////*/
.footer {
    padding: 10px 0px 20px 0px;
    background-color: #090c14;
    color: #878c94;
    
}
.footer .title{
	text-align: left;
	color:#fff;
	font-size:25px;
}
.footer .social-icon{
	padding:0px;
	margin:0px;
}
.footer .social-icon a{
	display:inline-block;
	color:#fff;
	font-size:25px;
	padding:5px;
}
.footer .acount-icon a{
	display:block;
	color:#fff;
	font-size:18px;
	padding:5px;
	text-decoration:none;
}
.footer .acount-icon .fa{
	margin-right:15px;
}
.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color:black;
    border: solid 1px #fff;
}
.footer .payment{
	margin:0px;
	padding:0px;
	list-style-type:none
}
.footer .payment li{
	list-style-type:none
}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float:left;
    font-size: 25px;
    padding: 5px 5px;
} 


/*/////////////FOOTER END///////////////////*/

/************* MULTI-LEVEL MEGA MENU - START ***************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  /*font-family: 'Open Sans', 'sans-serif'; */
}

h1,
.h1 {
  font-size: 36px;
  text-align: center;
  /*font-size: 5em;*/
  color: #404041;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 10%;
}


.navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
}
.mega-dropdown {
  position: static !important;
  width: 100%; 
}

.mega-dropdown-menu {
  padding: 8px 0px;
  width: 80%;
  box-shadow: none;
  -webkit-box-shadow: none; 
  height:350px; 
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index:20;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 15;
}

.mega-dropdown-menu > li > ul {
  padding: 2px;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.dropdown-header {font-family:'Snowburst One',cursive; 
                  font-weight: bolder; 
                  font-size: 14px;
}
/************* MULTI-LEVEL MEGA MENU - End ***************/


/********** Product Squares On Landing Page - 3d Images - Start ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
body {
  text-align: center;
  margin: 0 auto;
}
body a, body a:visited {
  color: #555;
  text-decoration: none;
}
body a:hover {
  color: #444;
}
*/

article figure::after, article figure .image, article figure .lighting, article .item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article .item-wrapper, article .item-content {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

article .item-wrapper, article figure, article .item-content {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 4%);
  height: 24vw;
  margin: 1.8%;
  -webkit-perspective: 1600px;
          perspective: 1600px;
  cursor: pointer;
}
article .item-wrapper {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
article .item-wrapper::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  box-shadow: 0 8px 38px rgba(0, 0, 0, 0.86);
}
article .item-wrapper:hover::before {
  box-shadow: 0 14px 64px rgba(0, 0, 0, 0.92);
}
article .item-wrapper.enter.ease, article .item-wrapper.leave {
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
article figure {
  width: 100%;
  height: 100%;
}
article figure::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.06);
}
article figure .image {
  background-position: center;
  background-size: cover;
}
article figure .lighting {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
}
article .item-content {
  pointer-events: none;
  padding: 20% 20px 20px;
  color: #fff;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.76);
}
article .item-content h1 {
  margin-bottom: 5%;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}
article .item-content p {
  font-size: 13px;
  margin-bottom: 5%;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}
article .item-content .author {
  -webkit-transform: translateZ(70px);
          transform: translateZ(70px);
}

@media (max-width: 860px) {
  article {
    width: calc(50vw - 3.9vw);
    height: 38vw;
  }
}
@media (max-width: 667px) {
  article {
    width: calc(100vw - 3.9vw);
    height: 60vw;
  }
}

#productH1{ font-family:'Snowburst One',cursive;
            text-align: center;
            font-weight: bolder;
            color:white;
            }

#productPara{font-size: 18px; color:yellow;font-family:'Snowburst One',cursive;margin-top:8%; text-align: center; }

/********** Product Squares On Landing Page - 3d Images - End ************/



/********** Login CSS - Welcome Message - Start ************/

.contentHomePage{
  width: 120%;
  margin: 0.5% 0% 0% 200%;
  padding: 1% 0px 0px 10px;
  color: white;
  border-radius: 0px 0px 10px 10px;
  font-size: 17px;
  line-height: 8px;
 /* margin-left:250%;*/
}

/******* TOP NAV BAR ICONS AND OPTIONS START*********/
.social{
  margin-top:1%;
  size: 5px;
}

.DDoptions{
  margin-top:12px;
}

.DDOptions_Label{
  color:#00BCD4;
  font-size:15px; 
  text-decoration:none;
}

.DDOptions_Label:hover{
  color:#00BCD4;
  font-size:15px; 
  text-decoration: none;
}

.DDoptions > ul{
  background-color:black;
}

.DDoptions > ul > li > a{
  color:#00BCD4; padding:5; line-height:2; text-decoration: none;
}

/*login message - welcome*/
.loginWelcome{
  width: 45%;
  margin-right:10px;
  border: 0px solid #b0c4de;
  background: b0c4de;/*#F8F8F8;*/
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
  z-index: 99;
  position: relative;
}

.loginWelcome_2{
  width: 70%;
  color:white;
  padding: 0px;
  z-index: 20;
  position: relative;
}

/******* TOP NAV BAR ICONS AND OPTIONS end*********/

/***  WHITE NAV BAR START **/

.companyLabel{
  color: tomato;
  font-family:'Snowburst One',cursive; 
  font-weight:bolder; 
  text-decoration: none;
  height: 3%;
  padding: 3px 15px;
  font-size: 33px;
  line-height: 0.008px;
  position: absolute;
  z-index: 11;
  right: 42%;
}

.companylabel_logo{
  margin: -1% 47.5% 0% 0%;
}

/* .searchbar {
  width: 200px;
  margin-right: 25%;
  z-index: 11111;
  display:block;
  border-radius: 10px;
}

.searchbar_btn{
  float:left;
  display: inline-block;
  z-index: 89 ;
} */


/**  WHITE NAV BAR END ***/

#carauselPara {
  position: absolute;
  bottom: 85%;
  left: 31%;
  top:9%;
  z-index: 20;
  color: blue;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-size: 15px;
}

/*align the message to the center of welcome div*/
.welcometext{
  text-align: center;
}

/********** Login CSS - Welcome Message - End ************/



/*********HOME PAGE PRODUCTS SLIDER  ************/

/* Container has all the products and the left and right filters from product pages*/
#dressContainer{
  line-height: 0.7;
  margin-bottom: 10px;
} 

/*Product Image Sqare - common for all Products*/
#product_Img_Square{
  width: 220px;
  border-radius: 25px;
  margin: 5px 0px 5px 10px;
}

/*CSS for the PRoduct name or title - common for all products*/
#product_title{
  font-size: 20px;
  color:teal;
  line-height: 1;
  word-wrap: break-word;
}

/*CSS for the prices */
#price_text{
  white-space: pre;
}


/*Product Info button - common for all products*/
#product_info_btn{
  font-size: 18px;
  font-weight: bold;
}

/*Product details Modal - Image*/ /*Adjust the image in the details container*/
#product_details_img{
  width:70%;
  border-radius: 25px;
  margin:35px 0px 0px 25px;
}

/*Product details Modal - Info*/
#product_details_info{
  font-family:'Snowburst One',cursive; 
  font-weight: bolder; 
  font-size: 20px;
  color:tomato;
  text-decoration: underline;
  top:0;
}

/*Problem Solved- Modal was moving as per the scoll on the page on which the button was situated*/
body.modal-open {
  /*block scroll for mobile; // causes underlying page to jump to top; // prevents scrolling on all screens*/
  overflow: hidden;
  position: fixed;
}

/*Scrollable in the modal if modal becomes long*/
.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

body.viewport-lg {
  /*block scroll for desktop; // will not jump to top; // will not prevent scroll on mobile*/
  position: absolute;
}

/******************************* Promo Image CSS - END ************************************/
